.localisation 
{
    align-items: center;
    text-align: center;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
   gap: 1rem;
   height: auto;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
    i {
        font-size: 1.25rem;
      }
}