@charset "UTF-8";
footer {
  background-color: #000000;
  padding: 1rem 2rem;
  color: white;
  margin-top: 5rem;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

body .footer {
  margin: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

footer {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer :any-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.reserver button {
  background-color: rgb(35, 45, 101);
  margin-top: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 200ms;
  align-items: center;
}

.reserver button:hover {
  transform: scale(1.01);
  background-color: rgb(35, 45, 101);
}

.mainpetitmenu button {
  align-items: center;
}

.couleur button {
  background-color: rgb(35, 45, 101);
  margin-top: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 200ms;
}

.reserver {
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  font-weight: bold;
  align-items: center;
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 0;
  margin: 0;
}
header h1 {
  align-items: center;
}

.fleche, .tête__flèche--vide {
  width: 18px;
  height: 20px;
  left: 1rem;
  top: 1rem;
  display: inline-block;
  transform: translateY(-50%);
  font-size: 20px;
  position: absolute;
}

.localisation {
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0; /* Aucun padding à droite */
  padding-left: 0; /* Aucun padding à gauche */
  margin-left: 0;
  border-left: 0;
}
.localisation i {
  font-size: 1.25rem;
}

.body {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.imgcarte, .carte {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-width: 3rem;
  padding: 0;
  margin: 0;
}

.regroupement {
  position: relative;
}

.imgcarte, .carte {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-width: 3rem;
  padding: 0;
  margin: 0;
}

.navigation-top {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Centrer les éléments de la navigation horizontalement */
  background-color: rgba(0, 0, 0, 0.5); /* Un fond semi-transparent peut être ajouté pour une meilleure visibilité */
  padding: 1rem 0; /* Ajoute un peu d'espacement en haut et en bas */
}

.navigation-top ul {
  list-style: none; /* Enlève les puces de liste */
  display: flex;
  gap: 1rem; /* Espace entre les éléments de la liste */
  padding: 0; /* Enlève le padding par défaut de la liste */
  margin: 0; /* Enlève la marge par défaut de la liste */
}

.navigation-top a {
  color: white; /* Couleur du texte des liens */
  text-decoration: none; /* Enlève le soulignement des liens */
}

.presentation .imgpresentation {
  width: 150px;
  height: 150px;
}

.presentation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-top: 10rem;
}

.imgpresentation {
  width: 100%; /* Assurez-vous que l'image couvre tout l'élément section */
  height: auto; /* Maintient le rapport hauteur/largeur original de l'image */
  object-fit: cover; /* S'assure que l'image couvre l'élément sans être déformée */
}

.content-overlay {
  position: absolute;
  top: 50%;
  left: 5%; /* Ajuster selon la marge souhaitée */
  transform: translateY(-50%); /* Centre verticalement le contenu */
  color: #FFF; /* Texte blanc pour la visibilité */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour la lisibilité du texte */
  padding: 2rem;
  max-width: 50%; /* Ajuster selon la largeur souhaitée du texte */
}

.content-overlay h1 {
  font-size: 2rem; /* Taille du titre */
  margin-bottom: 1rem;
}

.content-overlay p {
  font-size: 1rem; /* Taille du paragraphe */
  margin-bottom: 1.5rem;
}

.content-overlay button {
  font-size: 1rem; /* Taille du bouton */
  padding: 0.5rem 1rem; /* Ajuster le padding selon les besoins */
  background-color: #000; /* Couleur du fond du bouton */
  color: #FFF; /* Texte du bouton en blanc */
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
