.footer {
  background-color: #e0c7a4;
  color: rgb(15, 15, 15);
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: start;
}

.footer-section {
  display: flex;
  align-items: center;
}

.footer-logo img {
  max-width: 100px; /* Adjust the size as needed */
  margin-right: 2rem; /* Adds spacing between the logo and the text */
  width: 80%;
  height: 80%;
}

.footer-content h2, .footer-content .footer-menu p {
  margin: 0;
  padding: 0.2rem 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-menu p {
  padding: 0.2rem 0;
}

.footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  padding: 0.5rem 0;
}

.footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
