.propos {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.about-section {
    width: 80%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    margin-top: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
}

.about-section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.about-section .about-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

.about-section p {
    text-align: justify;
    margin-bottom: 20px;
}

.about-section img{
    width: 80%;
    height: 100%;
}
